In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('/Users/julianflorez/Desktop/Fact_H1_2022.csv', sep=';', encoding_errors='ignore')

In [7]:
df.head()

,No FACTURA,FECHA DE EMISIN,FECHA DE VENCIMIENTO,PROYECTO / CENTRO DE COSTOS,ASESOR COMERCIAL,CLIENTE,CONCEPTO,VALOR FACTURA,IVA,AMORTIZACIN ANTICIPO,COORDINADOR,CIUDAD,TIPO,MES
0,861,2022-01-03,2022-02-03,3001,NaN,TERRANUM DESARROLLO SAS,CAMARAS SOTANO TANQUES,17929968,3406694,NaN,LORENA ABAUNZA,BOGOTA,MANTENIMIENTO,enero
1,862,2022-01-03,2022-02-03,1066,NaN,TERRANUM DESARROLLO SAS,SISTEMA LPR CONNECTA,21540492,4092693,NaN,LORENA ABAUNZA,BOGOTA,PROYECTO,enero
2,863,2022-01-03,2022-02-03,3001,NaN,TERRANUM DESARROLLO SAS,REVISION TALANQUERA,332112,63101,NaN,LORENA ABAUNZA,BOGOTA,MANTENIMIENTO,enero
3,864,2022-01-03,2022-02-03,3001,NaN,TERRANUM DESARROLLO SAS,REGISTRO DE SALIDAS FUNCIONARIOS GOLD 6,480000,91200,NaN,LORENA ABAUNZA,BOGOTA,MANTENIMIENTO,enero
4,865,2022-01-03,2022-02-03,3001,NaN,TERRANUM DESARROLLO SAS,SUMINISTRO E INSTALACION SOLENOIDE,1704669,323887,NaN,LORENA ABAUNZA,BOGOTA,MANTENIMIENTO,enero

In [4]:
df.describe()

,PROYECTO / CENTRO DE COSTOS,ASESOR COMERCIAL,VALOR FACTURA,IVA,AMORTIZACIN ANTICIPO
count,344.000000,0.0,3.440000e+02,3.440000e+02,0.0
mean,2720.796512,NaN,5.937229e+06,9.364644e+05,NaN
std,1226.865267,NaN,1.686151e+09,3.203646e+08,NaN
min,926.000000,NaN,-2.040193e+10,-3.876366e+09,NaN
25%,2043.500000,NaN,3.597250e+05,6.310100e+04,NaN
50%,3001.000000,NaN,1.896398e+06,3.378135e+05,NaN
75%,3026.250000,NaN,5.688500e+06,1.027764e+06,NaN
max,9129.000000,NaN,2.040193e+10,3.876366e+09,NaN